import turtle
print(dir(turtle))
scr = turtle.Screen()
trt = turtle.Turtle()
trt.pencolor('blue')
trt.shape("circle")
trt.fillcolor('white')
trt.shapesize(3)
def leftclick(x,y):
    trt.goto(x,y)

while True:
    scr.onclick(leftclick)
    trt.clone()
    trt.hideturtle()
    trt.pensize(5)
    trt.penup()
    trt.showturtle()
    for x in range(1,10):
        trt.shapesize(x)

scr.mainloop()
